body{
background:#0f172a;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
color:white;
}

.box{
background:#1e293b;
padding:30px;
border-radius:20px;
text-align:center;
width:300px;
}

input{
width:90%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
margin-top:15px;
padding:12px 20px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-size:16px;
}
